{% load static %}
{% load bootstrap4 %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min (2).css'%}">
{% block style %}
<style>
@media all and (min-width:320px){
body{
    margin-top: 40rem;
    margin-left: 20rem;
    background: #ff9999;
}
.form-control{
    width: 50%;
    
    
}
.btn.btn-outline-info{
      margin-left: 17rem;
}
}
</style>

{% endblock  %}
{% block content %}
  <!--20200805 eunha Sign up 회원가입-->
        <div class="contact-heading">
              <h3>SIGN UP</h3>
        </div>

        <form action="{% url 'accounts:signup' %}" method="post" class="d-inline">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br><br>
            <button type="button" class="btn btn-outline-info">가입</button>
        </form>    
{% endblock  %}