{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="jumbotron">
  <div class="row align-items-center">
    <div class="col-4">
      <div class="row">
        <img class="col-12 rounded-circle" src="{{ user_profile.image.url }}" alt="{{ user_profile.image }}">
      </div>
    </div>  
    <div class="col-8">
      <h1 class="display-4 text-center">{{ user_profile.username }}</h1>
      <hr class="my-4">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column align-items-center">
          <div>{{ user_profile.post_set.count }}</div>
          <div>게시물</div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div>{{ user_profile.followers.count }}</div>
          <div>팔로워</div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <span>{{ user_profile.followings.count }}</span>
          <p>팔로잉</p>
        </div>
      </div>
      {% if request.user != user_profile %}
        {% if request.user in user_profile.followers.all %}
          <a href="{% url 'accounts:follow' user_profile.pk %}" class="btn btn-secondary btn-lg btn-block mt-2">UNFOLLOW</a>
        {% else %}
          <a href="{% url 'accounts:follow' user_profile.pk %}" class="btn btn-primary btn-lg btn-block mt-2">FOLLOW</a>
        {% endif %}
      {% else %}
      <div class="row no-gutters justify-content-around">
        <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-lg btn-block mt-2 col-4">회원수정</a>
        <form action="{% url 'accounts:delete' %}" method="POST" class="col-4">
          {% csrf_token %}
          <button class="btn btn-danger btn-lg btn-block mt-2">회원탈퇴</button>
        </form>
      </div>
      {% endif %}
    </div>  
  </div>
</div>

<hr>

<p class="lead text-center">{{ user_profile.username }}'s 작성한 게시글</p>
<div class="row row-cols-3">
  {% for post in user_profile.post_set.all %}
    <div class="col mb-3">
      {% include 'posts/_card.html' %}
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const likeButtonList = document.querySelectorAll('.like-button')
  likeButtonList.forEach(likeButton => {
    likeButton.addEventListener('click', function(event) {
      const postId = event.target.dataset.id

      axios.get(`/posts/${postId}/like/`)
        .then(response => {
          if (response.data.liked) { 
            event.target.style.color = 'crimson'
            event.target.classList.remove('far')
            event.target.classList.add('fas')
          } else {  
            event.target.style.color = 'black'
            event.target.classList.remove('fas')
            event.target.classList.add('far')
          }
        })
        .catch(error => console.log(error))
    })
  })
</script>
{% endblock %}
