{% load humanize %}

<div class="card border-dark h-100">
  <div class="card-header">
    <a href="{% url 'accounts:profile' post.user.username %}" class="card-link text-reset">{{ post.user.username }}</a>
  </div>
  <a href="{% url 'posts:detail' post.pk %}">
    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.image.name }}">
  </a>
  <div class="card-body">
    {% if request.user in post.like_users.all %}
      <i role="button" class="fas fa-heart fa-lg like-button" data-id="{{ post.pk }}" style="color: crimson;"></i>
    {% else %}
      <i role="button" class="far fa-heart fa-lg like-button" data-id="{{ post.pk }}" style="color: black;"></i>
    {% endif %}
    {% if post.like_users.count > 1 %}
      <p class="user-select-none">{{ post.like_users.all|random }}님 외 여러 명이 좋아합니다.</p>
    {% endif %}
    <p class="card-text user-select-none">{{ post.content }}</p>
  </div>
  <div class="card-footer">
    <small class="text-muted user-select-none">{{ post.created_at|naturaltime }}</small>
  </div>
</div>
