{% extends 'base.html' %}

{% block content %}
<h1>NEW</h1>
<form action="{% url 'articles:create' %}" method="POST">  
  {% csrf_token %}
  {% comment %} <h3>version 1</h3>
  {{ form.as_p }}
  <h3>version 2</h3>
  <div>
  {{ form.title.errors }}
  {{ form.title.label_tag }}
  {{ form.title }}
  </div>
  <div>
  {{ form.content.errors }}
  {{ form.content.label_tag }}
  {{ form.content }}
  </div> {% endcomment %}
  <h3>version 3</h3>
  {% for field in form %}
  <div class= 'form group'>
  {{ field.label_tag }}
  {{ field }}
  <div>
  {%endfor%}
  
  <button class="btn btn-primary">작성</button>
</form>
{% endblock %}