<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if user.is_authenticated %}
    <a href="{% url 'todos:index' %}">인덱스</a>
    <span>{{ user.username }}님 환영합니다.</span>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
  {% else %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a>
  {% endif %}
  {% block body %}
  {% endblock %}
</body>
</html>
