{% extends 'base.html' %}

{% block content %}
    <div id="demo"></div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <script>
        let latitude, longitude;

        navigator.geolocation.getCurrentPosition(position =>{
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
        
            //console.log(`${latitude}`);
            fetch(
                `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=0d98d57b7d9f3de1f8d23d65feaa32a2&units=metric`
            ).then(response => {
                return response.json();
            }).then(json => {
                document.getElementById('demo').innerHTML = Math.round(json.main.temp);
                //console.log(json.main.temp);
            })
        })
        
    </script>

{% endblock %}