{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <h2>{{ movie.pk }} 번 글</h2>
  <hr>
  <p>영화명 : {{ movie.title }}</p>
  <p>영화명(영문) : {{ movie.title_en }}</p>
  <p>누적 관객수 : {{ movie.audience }}</p>
  <p>개봉일 : {{ movie.open_date }}</p>
  <p>장르 : {{ movie.genre }}</p>
  <p>관람등급 : {{ movie.watch_grade }}</p>
  <p>평가 : {{ movie.score }}</p>
  포스터 :<br>
  <img src="{{ movie.poster_url }}" width="300px" height="400px"><br>  
  <p>장르 : {{ movie.genre }}</p>
  <hr>
  <a href="{% url 'movies:update' movie.pk %}">update</a><br>  
  <form action="{% url 'movies:delete' movie.pk %}" method='POST'>
    {% csrf_token %}
    <button>delete</button>
  </form>
  <a href="{% url 'movies:index' %}">back</a>

  <form action="{% url 'movies:comment_create' movie.pk %}" method="POST">
    {% csrf_token %}    
    {{ form }}
    <!--<input type="text">-->    
    <button class="btn btn-primary">작성</button>
  </form>

  <hr>
  {% for comment in movie.comment_set.all %}
  <p>{{ comment.content }}</p>
  <form action="{% url 'movies:comment_delete' movie.pk comment.pk%}" method="POST">
  {% csrf_token %}
  <button>삭제</button>
  </form>
  {% endfor %}
{% endblock %}
