<div class="card m-3">
  <h5 class="card-header">
    <img class="rounded-circle" src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s150x150/92822152_547335922653801_7878435854547419136_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=_vyuCoGMVoQAX-sxxS6&oh=0f1b435583bcfabe617c3527edbb8d88&oe=5F1CEDE6" alt="" witdh="50px" height="50px">
    {{ post.user.username }}
  </h5>
  <img src="{{ post.image.url }}" class="card-img-top">
  <div class="card-body">
    {% if post in user.like_posts.all %}
      <a href="{% url 'posts:like' post.id %}"><i class="fas fa-heart" style="color: red"></i></a>
    {% else %}
      <a href="{% url 'posts:like' post.id %}"><i class="far fa-heart" style="color: black"></i></a>
    {% endif %}
    {% comment %} <h5 class="card-title">Card title</h5> {% endcomment %}
    <p class="card-text">{{ post.content }}</p>
    <p class="card-text">{{ post.created_at }}</p>
  </div>
</div>
